body {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: rgb(224, 215, 215);
}

ul {
  display: flex;
}

#navbar a {
  color: rgb(0, 0, 0);
}

#navbarNav {
  justify-content: space-evenly;
}

img {
  width: 40px;
}
